* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #B1F4F7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    background-color: #8BE3E7;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #E3F8FA;
}

.add-btn {
    background-color: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
}

.message-box h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

.message-box p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.alert-btn {
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-btn {
    background-color: #6A42BE;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #4F3294;
}
